@import url('https://fonts.google.com/specimen/Outfit');

//Colors
$White: hsl(0, 0%, 100%);
$Light-gray: hsl(212, 45%, 89%);
$Grayish-blue: hsl(220, 15%, 55%);
$Dark-blue: hsl(218, 44%, 22%);

//Font
$Outfit-font: 'Poppins', sans-serif;

