.container {
    width: 400px;
    height: 600px;
    background-color: $White;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .container__qr {
        width: 400px;
        height: 400px;
        background-color: blue;
    }
}